*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1e1e1e;
}
#Date{
    font-size: 50px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: #ededed;
}
.clock time{
    display: flex;
    font-size: 250px;
    font-weight: 900;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 300px;
    color: #ededed;
}
.clock sec{
    display: flex;
    text-align: right;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100px;
    font-weight: 450;
    margin-top: 119.6px;
    margin-left: 40px;
    border-radius: 5px;
    height: 120px;
    width: 164px;
    line-height: 120px;
    color: #1e1e1e;
    background: #ededed;
    transition: margin-top 1s ease;
}
